<h1>WELCOME</h1>
<h2>Welcome to awesome competitive wonderfest that is
    ROCK, PAPER, SIZZZORRRZZZ!!!!!!</h2>
<h2> The RULZ:</h2>
<ul>
    <li>Rule1: No mind reading!</l>
    <li>Rule2: Players 1 and 2 both input thier choice into the url broken up by /'s</l>
    <li>Rule3: Observe the all poweruful judges ruling</l>
</ul>
